.country {
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.card {
    padding: 5px;
    border: 2px solid grey;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.648);
    transition: top .2s ease-in-out, box-shadow .1s ease-in-out;
}

.card__image {
    width: 300px;
    height: 250px;
    border: 10px solid lightgray;
}

.country__image {
    border: 15px solid lightgray;
    width: 800px;
    height: 500px;
}


h1 {
    text-align: center;
}

nav {   
    text-align: center;
}

.card1 {
    border: 1px solid #F2F2F2;
}

.card2 {
    border: 1px solid #F2F2F2;
}

.card1:hover {
    position: relative;
    top: -3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.648);
}

.card2:hover {
    position: relative;
    top: -3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.648);
}


  .country__image {
      border: 15px solid lightgray;
  }

  .footerCopyright {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
  }

  .absolute {
      position: absolute;
  }

a:link {
    color: rgb(0, 0, 0);
}
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: rgb(82, 82, 82);
}
a:active {
    color: rgb(110, 110, 110);
}